body{
    background: url(https://images.pexels.com/photos/39811/pexels-photo-39811.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    -webkit-background-size:cover;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100vh;

}
.zona-meniu{
    background: darkblue;
    height: 60px;
    margin-top: 70px;
}
.zona-meniu ul{
    list-style: none;
    float: left;
    margin: 0;
    padding: 0;
    width: 50%; 
}
.zona-meniu li{
    display: inline-block;
}
.zona-meniu a{
    color: #ffffff;
    display: inline-block;
    line-height: 40px;
    padding: 10px 15px;
    text-decoration: none;
    text-transform: uppercase;
}
input[type=text]{
    background-image: url(imageedit_5_5165043946.png);
    background-repeat: no-repeat;
    background-position: 12px 17px;
    padding: 12px 20px 14px 42px;
    border-radius: 25px;
    margin-top: 5px;
    outline: none;
    width: 60px;
    -webkit-transition: width 0.7s ease-in-out;
    -moz-transition: width 0.7s ease-in-out;
    -ms-transition: width 0.7s ease-in-out;
    -o-transition: width 0.7s ease-in-out;
    transition: width 0.7s ease-in-out;
}
input[type=text]:focus{
    width: 160px
}
